<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94214445383-19ble8051pkl9me8dvtm0hl7d1ktj2ua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94214445383-19ble8051pkl9me8dvtm0hl7d1ktj2ua</string>
	<key>API_KEY</key>
	<string>AIzaSyDu_SZYGX3Puv28fGk7u6ys52F_8SeNh_8</string>
	<key>GCM_SENDER_ID</key>
	<string>94214445383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userBusTracker</string>
	<key>PROJECT_ID</key>
	<string>bus-tracker-21f71</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-tracker-21f71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94214445383:ios:783c971172756023981462</string>
	<key>DATABASE_URL</key>
	<string>https://bus-tracker-21f71-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>